{% load static %}
<html>
<head>
 <title>MAHLUK MITOLOGI YUNANI | ALBAR</title>
 <link href="{% static 'mino/css/style.css'%}" rel="stylesheet" type="text/css"></link>
</head>
<body>
 <div class="template">
  <div class="header">
   <div class="jarak">
      <h1><center><p>5 MAHLUK MITOLOGI YUNANI VERSI ALBAR</p></center></h1>
   </div>
</div>
<div class="menu">
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="badan">
   <div class="sidebar">
    <li><a href="/">Naga</a></li>
    <li><a href="/cylops">Cyclops</a></li>
    <li><a href="/hydra">Hydra</a></li>
    <li><a href="/minotaur">Minotaur</a></li>
    <li><a href="/cerberus">Cerberus</a></li>
   </div>
<div class="content">
    <img width="50%" height="350" src="{% static 'mino/img/mino.jpg'%}" alt="">
    <p>Dalam mitologi Yunani, Minotaur (bahasa Yunani: Μινόταυρος, Minótauros) adalah monster berbentuk manusia yang berkepala banteng. Wujudnya ini adalah akibat dari kutukan atas Minos, Raja Kreta. Sebelumnya, Thesus dibantu oleh Ariadne, putri Raja Kreta, yang memberinya pedang dan segulung benang.</p></p>
   </div>
</div>
<div class="footer">
   By ALBAR
  </div>
</div>
</body>
</html>