{% load static %}
<html>
<head>
 <title>MAHLUK MITOLOGI YUNANI | ALBAR</title>
 <link href="{% static 'about/css/style.css'%}" rel="stylesheet" type="text/css"></link>
</head>
<body>
 <div class="template">
  <div class="header">
   <div class="jarak">
      <h1><center>TENTANG SAYA</center></h1>
   </div>
</div>
<div class="menu">
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="badan">
   <div class="sidebar">
      <img width="100%" height="400" src="{% static 'about/img/saya.jpeg'%}" alt="">
   </div>
<div class="content">
    <p>Nama saya ALIF AKBAR saya mahasiswa dari Universitas Pamulang ini adalah website pertama saya, web site ini saya buat dengan Framework Django dan saya upload dengan menggunakan hosting Heroku, maaf jika website ini jauh dari kata bagus, dan saya beharap untuk saudara/saudari yang melihat website saya ini bisa memberikan review dan saran pada menu Contact agar website selanjutnya bisa menjadi lebih baik. Atas perhatiannya saya ucapkan terima kasih</p>
   </div>
</div>
<div class="footer">
   By ALBAR
  </div>
</div>
</body>
</html>