{% load static %}
<html>
<head>
 <title>MAHLUK MITOLOGI YUNANI | ALBAR</title>
 <link href="{% static 'contact/css/style.css'%}" rel="stylesheet" type="text/css"></link>
</head>
<body>
 <div class="template">
  <div class="header">
   <div class="jarak">
      <h1><center>Kritik, Saran & Tips</center></h1>
   </div>
</div>
<div class="menu">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="badan">
   <div class="sidebar">
      <img width="100%" height="400" src="{% static 'contact/img/saya.jpeg'%}" alt="">
   </div>
<div class="content">
    <p>Jika ada kritik, saran & tips bisa hubungi saya melalui email : albar@gmail.com</p>
   </div>
</div>
<div class="footer">
   By ALBAR
  </div>
</div>
</body>
</html>